* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 60px 50px 30px;
  background: #e6b800;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background: #cc0052;
  color: #fff;
}
